<section id="chisiamo">
  <div class="container">
    <div class="col-xs-12 titolo">
      <h3>
        {% if session_language = 'uk' %}
          {{chisiamo.titolo_uk}}
        {% elif session_language = 'fr' %}
          {{chisiamo.titolo_fr}}
        {% else %}
          {{chisiamo.titolo}}
        {% endif %}
      </h3>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <p>
        {% if session_language = 'uk' %}
           {{chisiamo.body_uk|safe}}
        {% elif session_language = 'fr' %}
           {{chisiamo.body_fr|safe}}
        {% else %}
      	   {{chisiamo.body|safe}}
        {% endif %}
      </p>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
      <img src="/media/{{chisiamo.image}}" class="img-responsive" alt="business" title="agreement">
    </div>
  </div><!-- container -->
</section>