<!-- Place somewhere in the <body> of your page -->
<div id="slider2" class="flexslider">
  <ul class="slides">
  	{% for immagini in dentale.galleria.all %}
    <li>{% load cropping %}
      <img src="{% cropped_thumbnail immagini "croppingthumb" %}" />
    </li>
	{% endfor %}
    <!-- items mirrored twice, total of 12 -->
  </ul>
</div>

<div id="carousel2" class="flexslider">
  <ul class="slides">
 	{% for immagini in dentale.galleria.all %}
    <li>{% load cropping %}
      <img src="{% cropped_thumbnail immagini "croppingthumb" %}" class="ximg" />
    </li>
    {% endfor %}
  </ul>
</div>



<script>
	$(window).load(function() {
	  // The slider being synced must be initialized first
	  $('#carousel2').flexslider({
	    animation: "slide",
	    controlNav: false,
	    animationLoop: false,
	    slideshow: false,
	    itemWidth: 210,
	    itemMargin: 5,
	    asNavFor: '#slider2'
	  });
	 
	  $('#slider2').flexslider({
	    animation: "slide",
	    controlNav: false,
	    animationLoop: false,
	    slideshow: false,
	    sync: "#carousel2"
	  });
	});
</script>