{% extends 'base.html' %}


{% block content %}



{% include 'componenti/revolution.html' %} <!-- REVOLUTION -->

<section id="camerun">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 camerun1"></div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 camerun2"></div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 camerun3"></div>
  </div>
</section>


{% include 'componenti/chisiamo.html' %} <!-- chi siamo -->


<section id="camerun">
  <div class="container">
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 camerun1"></div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 camerun2"></div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 camerun3"></div>
  </div>
</section>

{% include 'componenti/biomedicale.html' %}


<section id="camerun">
  <div class="container">
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 camerun1"></div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 camerun2"></div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 camerun3"></div>
  </div>
</section>


{% include 'componenti/dentale.html' %}


<section id="camerun">
  <div class="container">
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 camerun1"></div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 camerun2"></div>
      <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 camerun3"></div>
  </div>
</section>


{% include 'componenti/contatti.html' %}


<section id="camerun">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 camerun1"></div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 camerun2"></div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 camerun3"></div>
  </div>
</section>


{% include 'componenti/location.html' %}


<section id="camerun">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 camerun1"></div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 camerun2"></div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 camerun3"></div>
  </div>
</section>

{% endblock %}