
{% extends "base.html" %}
{% block content %}



  <body class="bodyvideo">



 
   
  <!-- Incude Menu --> {% include "componenti/menu.html" %} <!-- fine menu -->

  <!--- inizio -->

<div class="container">

<div class="row rowprincipale ">
  {% for televisione in tv_list %}
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">{% load cropping %}
      <img class="imgblogthumb" src="{% cropped_thumbnail televisione "croppingthumb" %}" alt="...">
      <div class="caption">
        <h3 class="titoloblog">{{ televisione.titolo|truncatechars:20 }}</h3>
        <p>{{ televisione.body|safe|truncatechars:140}}</p>
        <p><a href="{{ televisione.id }}" class="btn pulsanteleggi" role="button">Continua...</a><!--<a href="{{ post.id }}" class="btn btn-default" role="button">Button</a> --></p>
      </div>
    </div>
  </div><!-- END COL SM 6 -->
      {% endfor %}
</div><!-- end row -->

</div> <!--container -->

{% endblock %}