<div class="navbar-wrapper">
  <div class="container">

    <div class="navbar navbar-inverse navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
            <a class="navbar-brand" href="http://test.giovannaninapalmieri.com">Giovanna Nina Palmieri</a>
        </div><!-- NAV BAR HEADER -->
            <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li><a href="http://test.giovannaninapalmieri.com">Home</a></li>
                <li><a href="http://test.giovannaninapalmieri.com/biografia">Biografia</a></li>
                <li><a href="http://test.giovannaninapalmieri.com/nina">Un po' di Me</a></li>
                <li><a href="http://test.giovannaninapalmieri.com/televisione">Televisione</a></li>
                <li><a href="http://test.giovannaninapalmieri.com/book">Libri</a></li>
                <li><a href="http://test.giovannaninapalmieri.com/timeline">Portfolio</a></li>
                <li><a href="http://test.giovannaninapalmieri.com/blog">Blog</a></li>
                <li><a href="http://test.giovannaninapalmieri.com/contact">Contatti</a></li>
              </ul>
            </div> <!-- NAV BAR COLAPSE -->
      </div><!-- DIV CONTAINER -->
    </div> <!-- NAV BAR INVERSE -->
  </div><!-- container -->
</div> <!-- NAV WRAPPER -->

